.kontakt {
    height: 100vh;
    h1 {
        position: absolute;
        color: #DDD92A;
        left: 40.5vw;
        top: 335vh;
    }

    .footer-kontakt {
        color: white;
        position: relative;
        top: 90vh;
        display: flex;
        left: 25vw;

        mark {
            background-color: rgba(0,0,0,0);
            color: #211c3f;
        }

        button {
            position: relative;
            background-color: rgba(0,0,0,0);
            border: none;
            bottom: 10px;
            cursor: grab;
        }
    }
    form {
        color: white;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 40vw;
        top: 340vh;
        width: auto;
        padding: 20px;
        font-family: "Open Sans", "Arial";
        font-size: 18px;
        box-shadow: black 0px 23px 20px;

        label {
            color: white;
        }
        input:not(.form-btn) {
            padding: 10px;
            background-color: black;
            border: solid #DDD92A 1px;
            color: white;
        }
        textarea {
            border: solid #DDD92A 1px;
            background-color: black;
            color: white;
        }
        .form-btn {
            margin-top: 10px;
            padding: 2px;
            border-radius: 0px;
            border: solid #DDD92A 1px;
            width: 50px;
            background-color: black;
            color: white;
            font-family: "Open Sans", "Arial";
            cursor: grab;
        }
    }
}

@media screen and (max-width: 1200px) {
    .kontakt {
        height: 95%;
        .footer-kontakt {
            width: 70vw;
            top: 85vh !important;

            button {
                right: 40px;
                border: solid white 1px !important;
                height: 40px;
                width: 80px;
                border-radius: 90px;

            }
        }
        form {
            position: absolute;
            left: 30vw !important;
            top: 310vh;
            box-shadow: none;
            border: solid black 1px;
        }
        h1 {
            top: 304vh;
        }
    }
}