.kontakt {
    height: auto;
    h1 {
        position: absolute;
        color: #DDD92A;
        left: 40.5vw;
        top: 335vh;
    }
    .extra, #copy-btn {
        position: relative;
        top: 90vh;
        left: 30vw;
        color: black;
        mark {
            background-color: rgba(0,0,0,0);
            color:#11111180;
            cursor:grab;
        }
    }

    #copy-btn {
        background-color: none;
        border: none;
    }

    form {
        color: white;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 40vw;
        top: 340vh;
        width: auto;
        padding: 20px;
        font-family: "Open Sans", "Arial";
        font-size: 18px;
        box-shadow: black 0px 23px 20px;

        label {
            color: white;
        }
        input:not(.form-btn) {
            padding: 10px;
            background-color: black;
            border: solid #DDD92A 1px;
            color: white;
        }
        textarea {
            border: solid #DDD92A 1px;
            background-color: black;
            color: white;
        }
        .form-btn {
            margin-top: 10px;
            padding: 2px;
            border-radius: 0px;
            border: solid #DDD92A 1px;
            width: 50px;
            background-color: black;
            color: white;
            font-family: "Open Sans", "Arial";
            cursor: grab;
        }
    }
}